.extra-info {
  display: flex;
  background-color: rgb(195, 195, 195);
  color: rgb(113, 113, 113);
  font-size: 20px;
  padding: 10px;
  justify-content: space-around;
  font-weight: bold;
}
.extra-info1 {
  background-color: orange !important;
}
.Apply {
  margin-left: 50px;
  padding-top: 5px;
  width: 180px;
  color: aliceblue;
  font-weight: bold;
  font-size: 23px;
}

.Brochure {
  margin-left: 87px;
  padding-top: 5px;
  color: orange !important;
  font-weight: bold;
  font-size: 23px;
}

.main-class {
  width: 100%;
}
.main-class1 {
  display: flex;
}
